* {
  box-sizing: border-box;
}


/* * Addresses margins handled incorrectly in IE6/7.
*/

body {
   margin: 0;
}

/* * Corrects list images handled incorrectly in IE7.
*/

nav ul,
nav ol {
   list-style: none;
   list-style-image: none;
}
/* * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
*/

b,
strong {
   font-weight: bold;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

/* textarea {
    overflow: auto; /* 1 */
    /* vertical-align: top; /* 2 */
/* }  */

body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  font-size: 1rem;
  min-height:100vh;
}

/* HEADER STYLES */

header{
display: flex;
justify-content: space-between;
align-items:baseline;
}

.logo{
  width: 140px;
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: baseline;
}

/*main navigation*/
nav{
  padding-top: 20px;
  margin-bottom: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

li a{
  color: #52667C;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.main_nav a:hover{
  color: #b5b7b3;
}
.main_nav a:active{
  color: #becbd3;
  font-weight: 400;
}
li a.active_link{
  color: #becbd3;
  font-weight: 600;
}

/*  BANNER STYLES*/
.slides-container {
  width: 500%;
  /* display: flex; */
}

#banner{
  /* background-image: url('../IMAGES/Slider_1280x400px_MST.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 400px; */
  /* width: 1000px; */
  overflow: hidden;
  background-size: cover;
}

#banner img {
  width: 20%;
  transition: margin-left 3s;
  float: left;
}

.image-to-move {
  margin-left: -20%;
}

/*  General Styles*/

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #52667C;
  background: #c0dde2; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #ffff , #c0dde2); /* Standard syntax (must be last) */
  padding-bottom: 20px;
  /* padding-top: 20px; */
}
p{
  font-size: .75rem;
  color: #5d5e5c;
}

a{
  text-decoration: none;
  color: #5d5e5c;
}

a:hover{
  text-decoration: none;
  color: #d6d9db;
}


/* HEADING STYLES */
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color:#52667C;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color:#52667C;
}

h3, .main_nav{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color:#52667C;
}

h4,{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .75rem;
  color:#52667C;
  margin-bottom: 0;
}
h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .65rem;
  color:#52667C;
  margin-bottom: 0;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600
  font-size: .55rem;
  color:#52667C;
  margin-bottom: 5px;
  margin-left: 20px;
}


/* PORTFOLIO AREAS*/
.portfolio_sections{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 1%;
}
/*  */
.corp_section{
  width: 294px;
  height: 287px;
  background-image: url("../IMAGES/NGS_About Us_226x221.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}
.educ_section{
  width: 294px;
  height: 287px;
  background-image: url("../IMAGES/WAI_thumbnail_226x221px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}
.ad_section{
  width: 294px;
  height: 287px;
  background-image: url("../IMAGES/OA AD_thumbnail_226x221.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}
.pub_section{
  width: 294px;
  height: 287px;
  background-image: url("../IMAGES/WT_thumbnail_226x221.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}
.background_corp{
  position: absolute;
  background-color: #eaeaea; /*#c4c4c0;*/
  bottom: 0;
  width: 294px;
  height: 40px;
  opacity: .9;
}
.background_corp:hover{
  background-color: #82827f;
}
.background_edu{
  position: absolute;
  background-color: #eaeaea;
  bottom: 0;
  width: 294px;
  height: 40px;
  opacity: .9;
}
.background_edu:hover{
  background-color: #82827f;
}
.background_ad{
  position: absolute;
  background-color: #eaeaea;
  bottom: 0;
  width: 294px;
  height: 40px;
  opacity: .9;
}
.background_ad:hover{
  background-color: #82827f;
}
.background_pub{
  position: absolute;
  background-color: #eaeaea;
  bottom: 0;
  width: 294px;
  height: 40px;
  opacity: .9;
}
.background_pub:hover{
  background-color: #82827f;
}

.section_title{
  color: #cfd2d3;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .9rem;
  text-align: center;
  font-weight: 600;
}
.section_title a:hover{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eaeaea;
  font-weight: 600;
}
.section_title_2_lines{
  color: #cfd2d3;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: .9rem;
  text-align: center;
  font-weight: 600;
}
.section_title_2 a:hover{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eaeaea;
  font-weight: 600;
}
/*  CTA */

.contact_button a:hover{
  color: #eaeaea;
}
.contact_button a{
  color: ##5d5e5c;
  margin-top: 1%;
}

h5.contact_button{
  width: 130px;
  font-size: .8rem;
  border-radius: 10px;
  background-color: #ffff;
  padding: 10px;
  padding-top: 11px;
  text-align: center;
  margin-bottom: 40px;
  margin: 0 auto;
  margin-top: 10px;
  color: #52667C;
  font-weight: 600;
}
footer h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .6rem;
  color:#52667C;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
h5 .italic .center{
  margin-bottom: 40px;
  font-weight: 400;
  margin-top: 0;
}
/* Misellaneous font styles */
.italic{
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
}
.center{
  text-align: center;
  width: 100%;
  color: #8b999e;
}
.hide{
  display: none;
}

/*   37.5 = 600px*/
@media screen and (max-width: 37.5em){

  header{
    flex-direction: column;
    align-items: center;
  }
  nav{
    width: 100%;
    margin-bottom: 0;
  }
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h3, .main_nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color:#52667C;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-top: 1px solid #c0dde2;
  }
  .portfolio_sections{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 1%;
  }
  .corp_section{
    width: 158px;
    height: 155px;
    background-image: url("../IMAGES/NGS_About Us_226x221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
  }
  .educ_section{
    width: 158px;
    height: 155px;
    background-image: url("../IMAGES/WAI_thumbnail_226x221px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
  }
  .ad_section{
    width: 158px;
    height: 155px;
    background-image: url("../IMAGES/OA AD_thumbnail_226x221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
  }
  .pub_section{
    width: 158px;
    height: 155px;
    background-image: url("../IMAGES/WT_thumbnail_226x221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 10px;
  }
  .background_corp{
    position: absolute;
    background-color: #eaeaea;
    bottom: 0;
    width: 158px;
    height: 40px;
    opacity: .9;
  }
  .background_corp:hover{
    background-color: #82827f;
  }
  .background_edu{
    position: absolute;
    background-color: #eaeaea;
    bottom: 0;
    width: 158px;
    height: 40px;
    opacity: .9;
  }
  .background_edu:hover{
    background-color: #82827f;
  }
  .background_ad{
    position: absolute;
    background-color: #eaeaea; /*#c4c4c0;*/
    bottom: 0;
    width: 158px;
    height: 40px;
    opacity: .9;
  }
  .background_ad:hover{
    background-color: #82827f;
  }
  .background_pub{
    position: absolute;
    background-color: #eaeaea;
    bottom: 0;
    width: 158px;
    height: 40px;
    opacity: .9;
  }
  .background_pub:hover{
    background-color: #82827f;
  }

  .section_title{
    color: #cfd2d3;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .9rem;
    text-align: center;
    font-weight: 600;
  }
  .section_title a:hover{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #eaeaea;
    font-weight: 600;
  }
  .section_title_2_lines {
    color: #cfd2d3;
    margin-top: 0;
  margin-bottom: 0;
    font-size: .9rem;
    text-align: center;
    font-weight: 600;
  }
.section_title_2 a:hover{
    color: #cfd2d3;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9rem;
    text-align: center;
    font-weight: 600;
  }
  .italic{
    font-style: italic;
    font-size: .75rem;
    font-weight: 400;
  }
  h5 .italic .center{
    margin-bottom: 40px;
    font-weight: 400;
    margin-top: 0;
  }
  h5.contact_button{
    width: 100px;
    font-size: .7rem;
    border-radius: 5px;
    background-color: #ffff;
    padding: 5px;
    padding-top: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    color: #52667C;
    font-weight: 600;
  }

}
